table.portfolio.list.detail(cellpadding="0", cellspacing="0")
  tr
    th Project
    th Client
    th Employer
    th Type
    th Tools
  tr
    td {{ portfolioPreview.project }}
    td.client
      img(alt="{{portfolioPreview.client}}", src="/img/clients/client_{{portfolioPreview.client}}.png")
    td.employer
      img(alt="{{portfolioPreview.employer}}", src="/img/employer/logo_{{portfolioPreview.employer}}.png")
    td.type
      img(alt="{{portfolioPreview.type}}", src="/img/icons/icon_device_{{portfolioPreview.type}}.png")
    td.tools
      span.tool(data-ng-repeat="tool in portfolioPreview.tools")
        img(src="/img/icons/icon_{{tool.tool}}.png" alt="{{tool.label}}")
        span.tooltip {{tool.label}}
.detail.clear(data-ng-repeat="item in portfolioDetail")
  .main
    .mod.hero
      img(data-ng-src="/img/portfolio/{{item.image}}.jpg", alt="{{item.heading}}")
      a.btn.btn-icon(data-ng-if="item.link", data-ng-href="{{item.link}}", target="_blank") 
        i.icon.icon-link
  .secondary
    h2 {{item.heading}}
    p {{item.copy}}      
