block body-header
  .header
    .wrapper
      ul.navigation
        li(data-ng-repeat="item in main.navigation")
          a(data-ng-href="{{item.url}}") {{item.key}}      
      img(src="img/logo.png", alt="Matt Sloan")
