block body-header
  .header
    .wrapper
      ul.navigation
        li(data-ng-repeat="item in main.navigation")
          a.btn.primary(data-ui-sref="{{item.url}}") {{item.key}}      
      img(src="/img/logo.png", alt="Matt Sloan")
