block header-stylesheets
  meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0;")
  meta(name="description", content="Matt Sloan is a designer and developer located in Columbus, Ohio. He uses all the latest technologies – including html5, css3, javascript, angular, and node.js – to deliver professional work. Because of his experience in design and his knowledge of the MEAN Stack, he is able to create powerful web applications.")
  meta(name="keywords", content="Matt Sloan, Designer, Developer, Columbus, Ohio")
  
  link(href="/fonts/mcs-icons/style.css", rel="stylesheet")
  link(href="/css/style.min.css", rel="stylesheet")
  link(href="https://fonts.googleapis.com/css?family=Lato:400,700,300", rel="stylesheet")
  link(rel="icon", type="image/png", href="/img/favicon.png")
  link(rel="apple-touch-icon", sizes="114x114", href="/img/icon.png")
