doctype html
html(ng-app="sloanApp", ng-controller="MainController as main")
	head
		title(data-ng-bind="main.Page.title()")
		include header-stylesheets
	body(data-ng-class="main.state.current.name")
		include body-header
		include body-content
		include body-footer
		include body-scripts