doctype html
html(ng-app="sloanApp", ng-controller="MainController as main")
	head
		title(data-ng-bind="pageTitle")
		include header-stylesheets
	body
		include body-header
		include body-content
		include body-footer
		include body-scripts