doctype html
html(ng-app="sloanApp", ng-controller="MainController")
	head
		title Testing2
		script(src="/libs/angular/angular.min.js")
		script(src="/libs/angular-route/angular-route.min.js")

		// Angular Items
		script(src="/js/script.min.js")
	body
		block content