.footer
  .wrapper
    p &copy; Matt Sloan
    p 
      a(data-ui-sref="home") Home 
      | | 
      a(data-ui-sref="portfolio") Portfolio 
      | | 
      a(data-ui-sref="experience") Experience 
      | | 
      a(data-ui-sref="contact") Contact