doctype html
html(ng-app="sloanApp", ng-controller="MainController")
	head
		title Testing2
		script(src="libs/angular/angular.min.js")
		script(src="libs/angular-route/angular-route.min.js")

		// Angular Items
		script(src="angular/main/main.ctrl.js")
		script(src="angular/portfolio/portfolio.ctrl.js")
		script(src="angular/appRoutes.js")
		script(src="angular/app.js")
	body
		block content