.highlight
  display block
  font-size 18px
  padding 10px 0
  margin-top 10px
  background #fcfcfc
  box-shadow 0 0 2px rgba(0,0,0,0.2)
  border-bottom 2px solid #0078f0
  text-align center
  &:hover
    text-decoration none
    background #0078f0
    color #fff
