.footer
  margin 16px 0 0 0
  font-size 14px
  color #888
  background #686868 url(../img/footer_bg.jpg) repeat left top
  p
    margin 0
    padding 0
  .wrapper
    padding 30px 16px
    &:after
      content ''
      display block
      clear both