body
  background $body-bg
  margin 0
  padding 0
  font-family Lato, Arial, Helvetica, sans-serif
a
  color $main-link
  text-decoration none
  &:hover
    color $main-link-hover
    text-decoration underline
h1
  text-transform uppercase
  margin 0 0 16px 0
  padding-bottom 4px
  font-size 21px
  font-weight 300
img
  width auto
  max-width 100% !important
  display block
.wrapper
  width 100%
  max-width 1000px
  margin 0 auto
  padding 16px
  box-sizing border-box
.btn
.toggle a
  background $main-link
  border-radius 2px
  color #fff
  text-align center
  padding 4px 12px
  &:hover
    background $main-link-hover
    color #fff
    text-decoration none
.toggle
  a
    border-radius 0
    border-right 1px solid $main-link-hover
    &:first-child
      padding-left 24px
      border-radius 16px 0 0 16px
    &:last-child
      padding-right 24px
      border-radius 0 16px 16px 0
      border-right 0
    &.active
      background $main-link-hover
    &:hover
      cursor pointer
.main-content
  background $body-bg