body
  background $body-bg url(../img/body_bg.jpg) repeat left top
  margin 0
  padding 0
  font-family Lato, Arial, Helvetica, sans-serif
  font-weight 300
  color #444
a
  color $main-link
  text-decoration none
  &:hover
    color $main-link-hover
    text-decoration underline
h1
h2
h3
  text-transform uppercase
  margin 20px 0 16px 0
  padding-bottom 4px
  font-size 21px
  font-weight 300
  color #555
h2
h3
  font-size 18px
  margin 0 0 10px 0
h3
  text-transform none
  margin 10px 0 0 0
  font-weight 400
h4
h5
  color #888
  font-size 14px
  font-weight normal
h4
  color #aaa
  font-size 14px
  margin 0
  padding 0
  em
    color #666
h5
  color #bbb
  margin 0 0 10px 0
hr
  color #bbb
  border none
  border-top 1px solid #ddd
  margin 20px 0
  padding 0
img
  max-width 100% !important
  display block
  border none
p
  line-height 1.6em
  margin-top 0
.clear
  clear both
.wrapper
  width 100%
  max-width 1165px
  margin 0 auto
  padding 16px
  box-sizing border-box
  clear both
  &:after
    content ''
    display block
    clear both
.icon
  font-size 24px
.btn
.toggle a
  background linear-gradient(#f5f5f5, #fff)
  color #aaa
  border-radius 2px
  border 1px solid #f5f5f5
  text-align center
  padding 6px 12px
  position relative
  display inline-block
  margin 4px
  &:after
    content ''
    position absolute
    z-index -1
    top -4px
    right -4px
    bottom -4px
    left -4px
    background #fff
    border 1px solid #e5e5e5
    border-radius 2px
    box-shadow 0 2px 1px rgba(0,0,0,0.05)
  &:hover
    background linear-gradient(#fff, #f5f5f5)
    color #888
    text-decoration none
    cursor pointer
  &.primary
    background $main-link
    color #fff
    border none
    &:after
      display none
    &:hover
      background $main-link-hover
      color #fff
  &.btn-icon
    border-radius 19px
    line-height 24px
    height 24px
    padding 6px
    i
      font-size 24px
    &:after
      border-radius 23px
    &.small
      border-radius 15px
      line-height 16px
      height 16px
      i
        font-size 16px
      &:after
        border-radius 19px
.toggle
  a
    background linear-gradient(#eee, #fafafa)
    border-radius 0
    color #aaa
    position relative
    padding 6px 12px 3px 12px
    margin 0
    &:after
      content ''
      position absolute
      z-index -1
      top -3px
      right -3px
      bottom -3px
      left -3px
      background #fafafa
      border 1px solid #ddd
      box-shadow 0 2px 2px rgba(0,0,0,0.1)
    &:first-child
      padding-left 16px
      border-radius 16px 0 0 16px
      &:after
        border-radius 16px 0 0 16px
    &:last-child
      padding-right 16px
      border-radius 0 16px 16px 0
      margin-left 4px
      &:after
        border-radius 0 16px 16px 0
    &.active
      background linear-gradient(#fcfcfc, #fff)
      color #ddd
      box-shadow inset 0 2px 2px rgba(0,0,0,0.05)
      padding-bottom 2px
      margin-top 2px
      z-index -2
      &:after
        box-shadow none
        background transparent
        z-index -3
    &:hover
      cursor pointer
      color $main-link
      background #fff
    i
      font-size 16px
      line-height 1em
.mod
  position relative
  z-index 1
  margin-bottom 30px
  padding 20px 30px
  background #fff
  border 1px solid #e5e5e5
  border-radius 4px
  box-shadow 0 2px 0 #e1e1e1
  overflow hidden
  &:before
    content ''
    position absolute
    z-index -1
    top 2px
    left 2px
    right 2px
    bottom 2px
    border 1px solid #f4f4f4
    background #fff
    border-radius 2px
  &.hero
    padding 3px
    margin-bottom 10px
    overflow visible
  ul
    margin 20px 0 0 15px
    padding 0
    li
      margin-bottom 6px
.main
  float left
  width 60% 
  padding 0 30px 30px 0
  box-sizing border-box

.secondary
  float right
  width 40%
  margin 0 0 30px 0
  
.workload, .comfort
  background #ddd
  background-image -webkit-linear-gradient(top, #cecece, #e6e6e6)
  background-image -moz-linear-gradient(top, #cecece, #e6e6e6)
  background-image linear-gradient(top, #cecece, #e6e6e6)
  border 2px solid #dbdbdb
  display block
  height 16px
  -webkit-border-radius 8px
  -moz-border-radius 8px
  border-radius 8px
  position relative
  -webkit-box-sizing border-box
  -moz-box-sizing border-box
  box-sizing border-box
  > span
    background #0078f0
    background-image -webkit-linear-gradient(top, #0080ff, #0070e0)
    background-image -moz-linear-gradient(top, #0080ff, #0070e0)
    background-image linear-gradient(top, #0080ff, #0070e0)
    position absolute
    top 0
    left 0
    width 92%
    height 12px
    -webkit-border-radius 6px
    -moz-border-radius 6px
    border-radius 6px