.gallery
  min-height 100vh
  width 100%
  position absolute
  top 0
  left 0
  padding 0 15% 
  text-align center
  box-sizing border-box
  z-index -1
  &.gallery-two
    top 100vh
    background #fff
    text-align left
  .gallery-content
    padding 10% 0
  &.gallery-one
    .gallery-content
      padding-top 15%
  img
    margin 0 auto