@media all and (max-width : 850px)

  // Portfolio Page
    
  .portfolio.thumb
    > div
      a
        font-size 21px
        
@media all and (max-width : 768px)

  // Global
    
  .header
    .wrapper
      padding 0
      > a
        display block
        padding 14px 16px 12px
        border-bottom 2px solid transparent
        img
        &:hover img
            padding 0
    .navigation
      clear both
      display-flex()
      align-items(center)
      float none
      border-top 1px solid $default-border
      .btn
        border-radius(0)
        margin 0
        padding 6px 0
        width 33.33%
        box-shadow(none)
        background-linear-gradient(top, #fff, #fcfcfc)
        border none
        border-right 1px solid $default-border
        &:after
          display none
        &:hover
        &.active
          background #fff
        &:nth-child(3n)
          border-right-color none
  .footer
    text-align center
    .wrapper
      background none
      padding 16px
    .social
      float none
      width auto
      display block
      text-align center
      margin-bottom 12px
    
  // Home Page
    
  .gallery
    min-height 0
    display block
    position static
    padding 0
    .gallery-content
      padding 24px 16px 16px 16px
      &:after
        content ''
        display block
        clear both
    &.gallery-one
      .gallery-content
        margin-top 0
        padding-top 0
    // .social-profile
    //   width 60%
    //   float none
    //   display block
    //   margin 16px auto
    //   border-radius(12px)
    // .intro
    //   float none
    //   width auto
    // .action
    //   text-align center

  // Portfolio Page
    
  .portfolio.thumb
    > div
      flex(1 0 33%)
      margin 6px
      padding 4px
      &:nth-child(3n + 1)
      &:nth-child(3n)
        margin 6px 6px 6px 0
        padding 4px
      &:nth-child(even)
        margin-left 6px
        margin-right 0

  // Portfolio Detail Page
    
  .detail
    .main
    .secondary
      float none
      display block
      width 90%
      margin 0 auto
      padding 0 0 16px 0
    .secondary
      padding-bottom 30px
      
  // Experience & Contact Pages
    
  .experience-state
  .contact-state
    .main
    .secondary
      float none
      width auto
      display block 
      padding 0
    .main
      margin-bottom 40px
    .secondary
      margin 0 0 16px 0

@media all and (max-width : 500px)

  // Global
  
  h1
    padding-bottom 0
    margin-top 0
    margin-bottom 12px
  .mod
    margin-bottom 20px
    padding 16px
  .main
  .secondary
    float none
    width auto
    display block 
    padding 0
  .main
    margin-bottom 40px
  .secondary
    margin 0 0 16px 0
  .footer
    margin 0
    font-size 12px
    .wrapper
      padding 16px
      
  // Home Page
    
  .gallery
    .social-profile
      width 60%
      float none
      display block
      margin 16px auto
      border-radius(12px)
    .intro
      float none
      width auto
    .action
      text-align center

  // Contact Page
    
  .social
    display block
    &:after
      content ''
      display block
      clear both
    a
      float left
      margin-right 8px
      &:last-child
        margin-right 0
  .footer
    .social
      a.btn
        float none
        margin 4px
  .workload_content
    margin-top 30px
    
  // Experience Page
      
  .experience
    .btn-icon
      right 16px
    h3
      margin-top 0
  .skills
    &:last-child
      padding-bottom 0
    li
      span.tooltip
        display none
      &:hover
        color inherit
        cursor default
        span.tooltip
          display none
        
  // Portfolio Pages
    
  .portfolio.thumb
    display block
    margin-top 16px
    > div
      margin 0 0 16px 0
      &:nth-child(3n + 1)
      &:nth-child(3n)
      &:nth-child(even)
        margin 0 0 16px 0
  .portfolio.list
    width 100%
    .tools
    .employer
      display none
    .client
      padding-right 8px
    tr
      padding 6px 0
      td
      th
        color #aaa
        &:first-child
        &:last-child
          padding 16px
  .toggle
    margin-top -3px
  .detail
    .mod.hero
      a
        right 16px
    .main
    .secondary
      width auto
    .secondary
      padding-bottom 16px
