div.toggle
  a(data-ng-click="main.toggleView('thumb')", data-ng-class="{true: 'active'}[main.view == 'thumb']")
    i.icon.icon-thumb
  a(data-ng-click="main.toggleView('list')", data-ng-class="{true: 'active'}[main.view == 'list']")
    i.icon.icon-list
h1(data-ng-bind="title")
div.portfolio.thumb(data-ng-if="main.view == 'thumb'")
  div.mod(data-ng-repeat="item in portfolioList | orderBy: $index: true")
    img(data-ng-src="img/portfolio/{{item.thumb}}.jpg", alt="")
    a(data-ui-sref=".detail({portfolioId: item.id})")
      span {{ item.project }}
      span.btn.primary View Project
table.portfolio.list(data-ng-if="main.view == 'list'", cellpadding="0", cellspacing="0")
  tr
    th Project
    th Client
    th Employer
    th Type
    th Tools
  tr(data-ng-repeat="item in portfolioList | orderBy: $index: true", data-ng-click="openItem(item)")
    td
      a(data-ui-sref=".detail({portfolioId: item.id})") {{ item.project }}
    td.client
      img(alt="{{item.client}}", src="img/clients/client_{{item.client}}.png")
    td.employer
      img(alt="{{item.employer}}", src="img/employer/logo_{{item.employer}}.png")
    td.type
      img(alt="{{item.type}}", src="img/icons/icon_device_{{item.type}}.png")
    td.tools
      span.tool(data-ng-repeat="tool in item.tools")
        img(src="/img/icons/icon_{{tool.tool}}.png" alt="{{tool.label}}")
        span.tooltip {{tool.label}}