div.toggle
  a(data-ng-click="toggleView('thumb')", data-ng-class="{true: 'active'}[view == 'thumb']") Thumb
  a(data-ng-click="toggleView('list')", data-ng-class="{true: 'active'}[view == 'list']") List
h1 {{ title }}
div.portfolio.thumb(data-ng-if="view == 'thumb'")
  div(data-ng-repeat="item in portfolioList | orderBy: $index: true")
    img(data-ng-src="img/portfolio/{{item.thumb}}.jpg")
    a(href="portfolio/{{item.key}}")
      span {{ item.project }}
      span.btn View Project
div.portfolio.list(data-ng-if="view == 'list'")
  div(data-ng-repeat="item in portfolioList | orderBy: $index: true")
    a(href="portfolio/{{item.key}}")
      span {{ item.project }}
      span.btn View Project
