.gallery.gallery-one
  .gallery-content
    a(data-ui-sref="portfolio.detail({portfolioKey: 'westjet/mobile'})")
      img(src="/img/gallery/gallery_westjet.jpg")
    a.btn.btn-primary(data-ui-sref="portfolio") View All Work
.gallery.gallery-two
  .gallery-content
    img.social-profile(src="/img/social-profile.jpg", alt="Matt Sloan")
    div.intro
      h1 Nice to meet you!
      p I enjoy the freedom and expression of designing user interfaces. I also enjoy the structure and discipline required to develop modern, standards-compliant web applications. It is this blend of design and development that sets me apart. In the past, I've designed and developed mobile web experiences for national brands like Comcast, Cub Cadet, Charter Communications, and Canon. Most recently, I've focused my efforts on becoming a more proficient full-stack developer and have switched from developing with ASP.NET/C# over to Node.js and the MEAN Stack.
      p.action
        a.btn.btn-primary(data-ui-sref="contact") Contact Me