@font-face {
	font-family: 'mcs-icons';
	src:url('mcs-icons.eot?44zut3');
	src:url('mcs-icons.eot?44zut3#iefix') format('embedded-opentype'),
		url('mcs-icons.ttf?44zut3') format('truetype'),
		url('mcs-icons.woff?44zut3') format('woff'),
		url('mcs-icons.svg?44zut3#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'mcs-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-actionscript:before {
	content: "\e800";
}
.icon-ai:before {
	content: "\e801";
}
.icon-angular:before {
	content: "\e802";
}
.icon-arrow-down:before {
	content: "\e803";
}
.icon-arrow-left:before {
	content: "\e804";
}
.icon-arrow-right:before {
	content: "\e805";
}
.icon-arrow-up:before {
	content: "\e806";
}
.icon-asp:before {
	content: "\e807";
}
.icon-client-7signal:before {
	content: "\e808";
}
.icon-client-bayer:before {
	content: "\e809";
}
.icon-client-brighthouse:before {
	content: "\e80a";
}
.icon-client-canon:before {
	content: "\e80b";
}
.icon-client-charter:before {
	content: "\e80c";
}
.icon-client-crocs:before {
	content: "\e80d";
}
.icon-client-diebold:before {
	content: "\e80e";
}
.icon-client-dinner-debate:before {
	content: "\e80f";
}
.icon-client-donation-rocket:before {
	content: "\e810";
}
.icon-client-ecoplumbers:before {
	content: "\e811";
}
.icon-client-invacare:before {
	content: "\e812";
}
.icon-client-mars:before {
	content: "\e813";
}
.icon-client-mbbs:before {
	content: "\e814";
}
.icon-client-mtd:before {
	content: "\e815";
}
.icon-client-shiloh:before {
	content: "\e816";
}
.icon-client-tigi:before {
	content: "\e817";
}
.icon-client-twc:before {
	content: "\e818";
}
.icon-client-tweeters:before {
	content: "\e819";
}
.icon-client-vht:before {
	content: "\e81a";
}
.icon-client-westjet:before {
	content: "\e81b";
}
.icon-client-xfinity:before {
	content: "\e81c";
}
.icon-c-sharp:before {
	content: "\e81d";
}
.icon-css3:before {
	content: "\e81e";
}
.icon-desktop:before {
	content: "\e81f";
}
.icon-dw:before {
	content: "\e820";
}
.icon-email:before {
	content: "\e821";
}
.icon-employer-chantler-properties:before {
	content: "\e822";
}
.icon-employer-io:before {
	content: "\e823";
}
.icon-employer-knotice:before {
	content: "\e824";
}
.icon-employer-mattsloan:before {
	content: "\e825";
}
.icon-employer-red-cross:before {
	content: "\e826";
}
.icon-employer-smk:before {
	content: "\e827";
}
.icon-fl:before {
	content: "\e828";
}
.icon-fw:before {
	content: "\e829";
}
.icon-git:before {
	content: "\e82a";
}
.icon-html5:before {
	content: "\e82b";
}
.icon-id:before {
	content: "\e82c";
}
.icon-joomla:before {
	content: "\e82d";
}
.icon-jquery:before {
	content: "\e82e";
}
.icon-js:before {
	content: "\e82f";
}
.icon-link:before {
	content: "\e900";
}
.icon-list:before {
	content: "\e831";
}
.icon-logo:before {
	content: "\e832";
}
.icon-logo-element:before {
	content: "\e833";
}
.icon-magnify:before {
	content: "\e834";
}
.icon-mobile:before {
	content: "\e835";
}
.icon-mongodb:before {
	content: "\e836";
}
.icon-mysql:before {
	content: "\e837";
}
.icon-node:before {
	content: "\e838";
}
.icon-php:before {
	content: "\e839";
}
.icon-ps:before {
	content: "\e83a";
}
.icon-school-osu:before {
	content: "\e83b";
}
.icon-social-dribbble:before {
	content: "\e83c";
}
.icon-social-facebook:before {
	content: "\e83d";
}
.icon-social-github:before {
	content: "\e83e";
}
.icon-social-google-plus:before {
	content: "\e83f";
}
.icon-social-linkedin:before {
	content: "\e840";
}
.icon-social-twitter:before {
	content: "\e841";
}
.icon-thumb:before {
	content: "\e842";
}
.icon-wordpress:before {
	content: "\e843";
}
.icon-xml:before {
	content: "\e844";
}

